/*
Fragment of CSS for importing the SpartanTT font family

Note that this looks better than using the variable-weight font.
*/

@font-face {
    font-family: "SpartanTT";
    src: url("fonts/SpartanTT/SpartanTT-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "SpartanTT";
    src: url("fonts/SpartanTT/SpartanTT-Bold.ttf") format("truetype");
    font-weight: bold;
}
