/*
Fragment of CSS for importing the B612 font family
*/

@font-face {
    font-family: "B612";
    src: url("fonts/B612/B612-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "B612";
    src: url("fonts/B612/B612-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "B612";
    src: url("fonts/B612/B612-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: "B612";
    src: url("fonts/B612/B612-BoldItalic.ttf") format("truetype");
    font-weight: bold; 
    font-style: italic;
}
