/*
Fragment of CSS for importing the Roboto font family
*/

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold; 
    font-style: italic;
}
