/*
Fragment of CSS for importing the Spartan font family
*/

@font-face {
    font-family: "Spartan";
    src: url("fonts/Spartan/static/Spartan-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Spartan";
    src: url("fonts/Spartan/static/Spartan-Bold.ttf") format("truetype");
    font-weight: bold;
}
